<!DOCTYPE html>
<html>
  <head>
    <title>TT Decoder</title>
  </head>
  <body>
    {% include 'ttinput.html' %}

    <!-- tt decode result -->
    {% if result %}

    <!-- decoded output -->
    {% if result is iterable and result is not string %} {% include
    'ttresult.html' %} {% endif %}
    <!-- decoded output -->

    <!-- tt options -->
    {% if options %} {% include 'ttoptions.html' %} {% endif %}
    <!-- tt options -->

    {% endif %}
    <!-- tt decode result -->
  </body>
</html>
