<!DOCTYPE html>
<html>
  <head>
    <title>TT Decoder</title>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
  </head>
  <body>
    <div class="container">
      <div id="tt-input">{% include 'ttinput.html' %}</div>
      <!-- tt decode result -->
      <div id="drag-bar"></div>
      {% if result %}

      <!-- decoded output -->
      <div id="tt-result">
        {% if result is iterable and not result is string %} {% include
        'ttresult.html' %} {% endif %}

        <!-- tt options -->
      {% if options %}
      <div id="tt-options">{% include 'ttoptions.html' %}</div>
      {% endif %}
        <!-- tt options -->

      </div>
      <!-- decoded output -->

      

      {% endif %}
      <!-- tt decode result -->
    </div>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
  </body>
</html>
